.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    background-color: white;
    text-align: center;
}

.title {
    font-size: 2em;
    margin: 0;
}

.subtitle {
    font-size: 1.5em;
    color: #777;
    margin-top: 0.5em;
}
